<%= link_to "Home", root_path %>
<%= link_to "All Recipes", recipes_path %>
<%= link_to "Logout", logout_path %>

<h2>Recipe Details:</h2>

Recipe Name: <h3><%= @recipe.name %></h3> Created by: <h3><%= @recipe.user_name %></h3> 
Recipe Instructions: <p><%= @recipe.make_time%> minutes to prepare</p> 

<h3>Ingredients:</h3>

    <ul>  
    <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
        <li><%= "#{recipe_ingredient.amount} #{recipe_ingredient.ingredient.name}" %></li>
    <% end %>
    </ul>

<h3>Instructions:</h3>
    <p><%= @recipe.instructions%></p>
<%= link_to 'Add ingredient', new_recipe_ingredient_path(@recipe) %>