<h3> Add a new ingredient to the <i><%= @recipe.name %></i> recipe.</h3>

<%= form_for @ingredient do |f| %>
    <%= f.collection_select :name, Ingredient.all, :id, :name %>
    <%= f.hidden_field :recipe_id, value: @recipe.id %>
    <%= f.submit %>
<% end %>


